<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="get.to.the.point.pilot01.mapper.MemberMapper">

    <!-- 이메일로 사용자 조회 -->
    <select id="findMemberByEmail" parameterType="string" resultType="get.to.the.point.pilot01.dto.MemberVo">
        SELECT * FROM member WHERE email = #{email} AND is_active = true
    </select>

    <!-- 사용자 추가 -->
    <insert id="insertMember" parameterType="get.to.the.point.pilot01.dto.CreateMemberDto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO member (name, email, password)
        VALUES (#{name}, #{email}, #{password})
    </insert>

    <!-- 사용자 정보 업데이트 -->
    <update id="updateMember" parameterType="get.to.the.point.pilot01.dto.UpdateMemberDto">
        UPDATE member
        SET
            name = #{name},
            email = #{email},
            password = #{password}
        WHERE
            id = #{id}
          AND is_active = true
    </update>

    <!-- 사용자 비활성화 -->
    <update id="deleteMember" parameterType="long">
        UPDATE member
        SET
            is_active = false
        WHERE
            id = #{id}
    </update>

</mapper>
